<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="BestSleepEntities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\BESTSLEEPQUALITY\BestSleep.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="BestSleepEntities" connectionString="metadata=res://*/BESTSLEEPQUALITY.DIARYDATA.csdl|res://*/BESTSLEEPQUALITY.DIARYDATA.ssdl|res://*/BESTSLEEPQUALITY.DIARYDATA.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\BestSleep.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>